--- 

- name: Ensure website root exists
  file:
    path: "{{ website_root }}"
    state: directory
    owner: "{{ website_user }}"
    group: "{{ website_group }}"
    mode: '0755'
  tags: deploy

- name: Deploy website files
  copy:
    src: "{{ item }}"
    dest: "{{ website_root }}/"
    owner: "{{ website_user }}"
    group: "{{ website_group }}"
    mode: '0644'
  with_fileglob:
   - "../../../website_files/*"
  tags: deploy


- name: Deploy CSS directory
  copy:
    src: "../../../website_files/*css/"
    dest: "{{ website_root }}/css/"
    owner: "{{ website_user }}"
    group: "{{ website_group }}"
    mode: '0644'
  tags: deploy


- name: Deploy JS directory
  copy:
    src: "../../../website_files/*js/"
    dest: "{{ website_root }}/js/"
    owner: "{{ website_user }}"
    group: "{{ website_group }}"
    mode: '0644'
  tags: deploy



- name: Set SELinux context for website files
  sefcontext:
      target: "{{ website_root }}(/.*)?"
      setype: httpd_sys_content_t
      state: present
      tags: deploy

- name: Apply SELinux context
  command: restorecon -Rv {{ website_root }}
  changed_when: false
  tags: deploy

- name: Set correct permissions on website root
  file:
    path: "{{ website_root }}"
    state: directory
    owner: "{{ website_user }}"
    group: "{{ website_group }}"
    mode: '0755'
    recurse: yes
  tags: deploy